#star-rating {
    font-size: 1.5rem;
    color: #ffc107;
}

.comment-textarea {
    height: 140px;
    resize: vertical;
}

@media (max-width: 768px) {
    .concert-header-flex {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .concert-header-flex > * {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
