{% extends "_base.html" %}

{% block content %}
    <h1 class="text-3xl font-bold mb-2">{% block heading %}{% endblock %}</h1>

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% for field in form %}
            <fieldset class="fieldset">
                <label class="label">
                            <span class="label-text font-medium">
                                {{ field.label }}
                            </span>
                </label>

                {{ field }}

                {% if field.errors %}
                    <label class="label">
                                <span class="label-text-alt text-error">
                                    {{ field.errors|striptags }}
                                </span>
                    </label>
                {% endif %}
            </fieldset>
        {% endfor %}

        <input type="hidden" name="next" value="{{ next }}">

        <button class="btn btn-primary w-full mt-2" type="submit">
            {% block button %}{% endblock %}
        </button>
    </form>

    <div class="divider my-2"></div>

    <p class="text-center text-sm opacity-70">
        {% block switch %}{% endblock %}
    </p>
{% endblock %}