{% load navtags %}
{% load django_bootstrap5 %}
{% load compress %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {% compress css %}
        {% block style %}{% endblock %}
    {% endcompress %}
</head>
<body class="d-flex flex-column min-vh-100">

<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary user-select-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-search fs-6"></i> SetSearch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- main links -->
            <div class="navbar-nav">
                {% nav_link "home" "Home" %}
                {% nav_link "upcoming" "Upcoming" %}
                {% if request.user.is_authenticated %}
                    {% nav_link "concert_create" "Create concert" %}
                {% endif %}
            </div>

            <!-- auth links -->
            <div class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    {% nav_link "profile" request.user.username %}
                    {% if request.user.is_superuser %}
                        {% nav_link "admin:index" "Admin UI" %}
                    {% endif %}
                    {% nav_link "logout" "Logout" next=True %}
                {% else %}
                    {% nav_link "login" "Login" next=True %}
                    {% nav_link "signup" "Sign Up" next=True %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<!-- content -->
<main class="container my-5 flex-grow-1">
    {% block content %}{% endblock %}
</main>

<!-- footer -->
<footer class="footer bg-body-tertiary text-center py-3 user-select-none">
    © 2026 SetSearch
</footer>

<!-- scripts -->
{% block jquery %}
    <script src=" https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js"></script>
{% endblock %}

{% block scripts %}{% endblock %}

{% compress js %}
    {% block static_scripts %}{% endblock %}
{% endcompress %}
</body>
</html>