{% extends "_base.html" %}

{% block title %}
    SetSearch - {{ artist.name }}
{% endblock %}

{% block content %}
    <h1>{{ artist.name }}</h1>
    {% if request.user == artist.user or request.user.is_superuser %}
    <a href="{% url 'create_concert' artist.slug %}" class="btn btn-primary">Create Concert</a>
    {% endif %}
    {% if artist.picture %}
        <img src="https://commons.wikimedia.org/wiki/Special:FilePath/{{ artist.picture }}" alt="{{ artist.name }}"
             height="500"/>
    {% endif %}
    <hr>

    <h4>Concerts</h4>

    {% if concerts %}
        <ul>
            {% for concert in concerts %}
                <li>
                    <a href="{% url "concert" concert.artist.slug concert.slug %}">{{ concert.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No concerts available.</p>
    {% endif %}
{% endblock %}
