{% extends "_base.html" %}

{% block title %}
    SetSearch - {{ concert.artist.name }} @ {{ concert.venue }}
{% endblock %}

{% block content %}
    <h1>{{ concert.artist.name }} @ {{ concert.venue }}</h1>
    <p>{{ concert.date }}</p>
    <hr>
    <h4>Comments</h4>
    <div id="comments-list">
    {% for comment in comments %}
        <div class="mb-2">
                <strong>{{ comment.user.username }}</strong>:
                <small class="text-muted">{{ comment.timestamp|date:"d M Y H:i" }}</small>
                <p>{{ comment.content }}</p>
        </div>
        {% empty %}
        <p class="text-muted" id="no-comments">No comments yet.</p>
    {% endfor %}
    </div>
{% endblock %}