{% extends "_base.html" %}
{% load static %}

{% block title %}SetSearch{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}"/>
{% endblock %}

{% block content %}
    <h1>Welcome to SetSearch!</h1>
    <p>Search for an artist :)</p>

    <div class="position-relative mb-3 search-container">
        <input type="text" id="artist-search" class="form-control" placeholder="Search artists..." autocomplete="off">
        <ul id="search-results" class="list-group position-absolute w-100"></ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0/dist/fuse.min.js"></script>
{% endblock %}

{% block static_scripts %}
    <script src="{% static "js/home.js" %}"></script>
{% endblock %}