{% extends "_base.html" %}
{% load static %}

{% block content %}
    <h1>Welcome to SetSearch!</h1>
    <p>Search for an artist :)</p>

    <div class="mb-3 position-relative" style="max-width: 400px;">
        <input type="text" id="artist-search" class="form-control" placeholder="Search artists..." autocomplete="off">
        <ul id="search-results" class="list-group position-absolute w-100" style="z-index: 1000; display: none;"></ul>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static "js/home.esm.js" %}"></script>
{% endblock %}